* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

/* utils */

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-2 {
  width: calc(100% / 2);
}
.col-1-3 {
  width: calc(100% / 3);
}
.col-1-1 {
  width: 100%;
}

.blu-small {
  background-color: #0061fe;
  color: white;
  padding: 10px 20px 10px 20px;
  border: none;
}

.blu-big {
  background-color: #0061fe;
  color: white;
  padding: 10px 20px 10px 20px;
  border: none;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.linietta {
  border: 1px solid lightgray;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* head */

header {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.header.top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  color: black;
}

.header.top a {
  padding-left: 10px;
  padding-right: 10px;
}

.head-logo {
  justify-content: center;
}
.head-nav {
  text-align: center;
}

.logo-head {
  max-width: 200px;
}

/* main top */
.section.jambo {
  background-color: #b4d0e6;
}
.container-top {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.jumbo {
  width: 100%;
}

/* main top */

/* main */

/* section due*/

.circle-blu {
  border-width: 4px;
  border-radius: 50%;
  border-color: #0061fe;
  width: 15px;
  height: 15px;
}

.circle-white {
  border-radius: 50%;
  border-color: lightgray;
  width: 15px;
  height: 15px;
}

.cicleblu-text {
  padding-right: 50px;
  padding-left: 3px;
}
.circlewhite-text {
  padding-left: 3px;
}
/* section due*/
/* section tre*/

.window {
  display: flex;
  border: 1px solid lightgray;
}

.title.window {
  padding: 20px;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.bodycolumn * {
  display: flex;
  text-align: center;
  justify-content: start;
}
.bodycolumn {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.bodycolumn > h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.costo {
  font-size: 0.7rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
}

.mese {
  font-size: 0.7rem;
  color: gray;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* section tre*/

.title.window.center {
}

/* main */

/* footer */

footer {
  position: ;
}

/* footer */
